*{
    font-family: Arial, Helvetica, sans-serif;
}

.caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.caja div{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    background-color: aquamarine;
    border-radius: 10px 10px;
    
}

.caja div ul{
    list-style-type: none;
}